
/* タブレット向けレイアウト */

@media(max-width:1000px){
 
}



/* スマホ向けレイアウト */

@media(max-width:670px){
 
  #btn { 
    width: 100%;
    padding: 30px;
    font-size: 20px;
    margin-top: 20px;
  }

  .main_wrapper input{
    margin: 30px 0px 30px 0px;
    padding: 10px 0;
    padding-left: 5px;
    font-size: 22px;
    width: 170px;
  }

  .box {
    width: 100%;
    font-size: 20px;
  }

  .main_wrapper h1{
    font-size: 24px;
  }


}
