/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

*{
  box-sizing:border-box;
}


body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
   /* widthを100%にしてください */
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(https://akanekoh.github.io/image/IMG_8183.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}


.container p{
  padding-bottom: 30px;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
}

.top-wrapper p {
  opacity: 0.7;
}

.btn-wrapper {
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(16, 117, 104, 0.9);
  /* background-color: rgba(34, 49, 52, 0.9); */
  /* positionプロパティをfixedに、topを0に指定してください */
  position:fixed;
  top:0;
  
  /* z-indexを10に指定してください */
  z-index:10;
}

.logo {
  width: 174px;
  margin-top: 20px;
}

.header-left {
  float: left;
}

.header-left :hover{
  cursor:pointer;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;

  float: right;
  transition: all 0.5s;
}

.portfolio-wrapper {
  /* height: 500px; */
  background-image: url(https://akanekoh.github.io/image/kami2.jpg);
  padding-bottom: 80px;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
  padding: 30px 0 10px 0;
}

.portfolio {
  float: left;
  width: 25%;
}

.portfolio h3{
  margin-top: 10px; 
  color: #546e85;
}

.portfolio img{
  border-radius: 7px;
}

.portfolio-icon {
  position: relative;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 5px;
  font-size: 14px;
  color: #65798b;
}

.heading h3 {
  font-weight: normal;
}

.jq-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 270px;
  text-align: center;
}

.jq{
  padding: 15px 40px;
  background-color: #60597a;
  cursor: pointer;
  box-shadow: 0 7px #3e0c80;
}

.jq:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer img {
  width: 100px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
}

.clear{
  clear: left;
}

.menu-icon{
  color: #fff;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

footer{
  background-color: rgba(255, 255, 255, 0.5);
  padding-bottom: 100px;
}
